* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 10px;
}

header {
    height: 400px;
    background-image: url(https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/NorthCumberlandWMA_ByronJorjorian_4000x2200.jpg?crop=0,287,4992,2745&wid=4000&hei=2200&scl=1.248);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.titolo {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-family: 'Montserrat', sans-serif;
}

img .overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.row {
    padding: 10px 0;
}

aside {
    width: 20%;
    height: 200px;
    float: left;
}

.contenitore {
    height: 100%;
}

aside .contenitore {
    background-color: violet;
}

aside .right {
    height: 200px;
    background-color: violet;
    margin-bottom: 10px;
}

main {
    width: 60%;
    height: 500px;
    padding: 0 10px;
    float: left;
}

main .contenitore {
    background-color: purple;
}

footer {
    height: 100px;
    background-color: lightblue;
}
